/**
 * Plugin admin end styles
 *
 * @package WP_Skins
 * @version 1.0.0
 */
#customize-header-actions #wp-skins-save-dialog {
	position: absolute;
	top: 0;
	left: 52px;
}

#wp-skins-overlay, #wp-skins-dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 97;
}
#wp-skins-dialog {
	background: none;
	height: 39px;
	width: 90vw;
	max-width: 520px;
	margin: auto;
	> input, > button {
		text-align: center;
		line-height: 35px;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		height: auto;
		box-shadow: none;
		float: left;
		width: 21%;
		border-radius: 0 5px 5px 0;
	}
	input {
		padding: 0 0.5em;
		text-align: left;
		width: 79%;
		border-radius: 5px 0 0 5px;
	}
	.notice.already-exists {
		width: 100%;
		position: absolute;
		bottom: 124%;
		padding: 1em;
		box-sizing: border-box;
		left: 0;
		margin: 0;
		border-radius: 5px;
		* {
			margin: 0;
		}
		button {
			float: right;
		}
	}
}

.no-skins {
	font-size: 1.1em;
	color: #777;
}

h3.wp-skin-button {
	padding: 1em;
	background: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
	opacity: 0.88;
	position: relative;
	&:hover {
		opacity:1;
	}

	.delete {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		right: 0.5em;
	}

	~ .no-skins {
		display: none;
	}
}