.export-skins,
.active-skins,
.inactive-skins {
	width:43%;
	float: left;
	border: 2px dashed #ccc;
	margin: 2.5% 0;
}

.export-skins {
	border: 3px dashed #ccc;
	width: 95%;
	min-height: 0;
	font: 25px/160px sans-serif;
	color: #aaa;
	text-align: center;
}

.active-skins h3,
.inactive-skins h3 {
	margin: 5%;
}

.skins {
	min-height: 160px;
}

.active-skins {
	margin-right: 5%;
}

.skins .sfp-skin-button {
	display: block;
	font-size: 16px;
	padding: 0.7em 1em;
	margin: 0 5% 5%;
	letter-spacing: 1px;
	font-weight: 300;
	height: auto;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

#sfp-skins-save {
	display: block;
	clear: both;
	max-width: 140px;
	margin: auto;
	padding: 0.7em;
	text-align: center;
	height: auto;
	font: 100 25px sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
}